@import url("https://fonts.googleapis.com/css2?family=Raleway:display=swap");
:root {
  --form-control-color: #08A6E4;
  --form-control-disabled: #959495;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
}

.displayNone {
  display: none;
}

.percentageScroller {
  position: -webkit-sticky;
  position: sticky;
  top: 72px;
  z-index: 2;
  height: 5px;
  background-color: #08A6E4;
}

.returnTop {
  background-color: #e6e6e6;
  border-radius: 100%;
  width: 65px;
  height: 65px;
  color: #A5A5A5;
  position: fixed;
  top: 63%;
  left: 85%;
  cursor: pointer;
}

.newsletter {
  position: fixed;
  background-color: white;
  margin: 5% 25%;
  padding: 5% 5%;
  width: 50%;
  height: 55%;
  text-align: center;
  z-index: 3;
  border: 4px solid;
}
.newsletter .newsletter__cross {
  width: 15%;
  position: absolute;
  right: 10%;
  top: 1%;
}
.newsletter .newsletter__title {
  width: 70%;
  margin: 5% auto;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.newsletter .newsletter__name {
  width: 70%;
  margin: auto;
  text-align: initial;
  color: #08A6E4;
  font-size: 2vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.newsletter .newsletter__input {
  width: 70%;
  background: none;
  border: none;
  border-bottom: 2px solid black;
  height: 7vw;
  font-size: 3vw;
}
.newsletter .newsletter__input--red {
  border-color: red;
}

@media only screen and (min-width: 1000px) {
  .returnTop {
    top: 65%;
    left: 93%;
  }
  .newsletter {
    height: 80%;
  }
  .newsletter .newsletter__cross {
    width: 5%;
    top: 0.5%;
  }
  .newsletter .newsletter__title {
    font-size: 3vw;
    margin: 5% auto;
  }
  .newsletter .newsletter__input {
    height: 5vw;
    font-size: 2vw;
    margin-bottom: 5%;
  }
}
.header {
  padding: 0% 6% 0% 6%;
  box-shadow: 0px 5px 5px lightgray;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 2;
}
.header .header__menuLogo {
  width: 30px;
  color: #08A6E4;
  display: inline-block;
  position: relative;
  top: 0.4em;
  margin-left: 25%;
}
.header .header__menu {
  padding: 0% 0% 5% 5%;
}
.header .header__menu .header__menu__menuEnlaces {
  list-style: none;
  margin: 4% 0%;
}
.header .header__menu .header__menu__menuEnlaces a {
  text-decoration: none;
  color: #A5A5A5;
  font-size: 11px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 1vw;
  font-weight: 700;
}
.header .header__menu .header__menu__menuEnlaces--black a {
  color: black;
}
.header .displayNone {
  display: none;
}

.logo {
  font-size: 32px;
  padding: 17px 0;
  width: 60%;
  color: #08A6E4;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.social {
  width: 24px;
  height: 24px;
}

@media only screen and (min-width: 1000px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header .header__menuLogo {
    display: none;
  }
  .header .header__menu, .header .displayNone {
    display: flex;
    width: 50%;
    padding: 0;
    justify-content: end;
  }
  .header .header__menu .header__menu__menuEnlaces, .header .displayNone .header__menu__menuEnlaces {
    margin: 0 3%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .header .header__menu .header__menu__menuEnlaces a, .header .displayNone .header__menu__menuEnlaces a {
    letter-spacing: 0.2vw;
  }
  .header .header__menu .header__menu__menuEnlaces--black, .header .displayNone .header__menu__menuEnlaces--black {
    border-bottom: 4px solid #08A6E4;
  }
  .logo {
    width: 22%;
  }
}
.cardOpenShop {
  text-align: center;
  margin: 170px 0 50px 0;
}
.cardOpenShop .cardOpenShop__titulo {
  margin-bottom: 2%;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 35px;
}
.cardOpenShop .cardOpenShop__descripcion {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 20px auto 28px auto;
  width: 300px;
}
.cardOpenShop .cardOpenShop__imagen {
  width: 100%;
  display: block;
}
.cardOpenShop .cardOpenShop__imagen--big {
  display: none;
}

.botonDefault {
  width: 300px;
  margin: 0 auto 50px auto;
  background-color: #08A6E4;
  color: white;
  height: 67px;
  border-radius: 100px;
  box-shadow: 10px 10px 10px rgba(8, 166, 228, 0.3137254902);
  text-align: center;
}
.botonDefault span {
  font-size: 16px;
  color: white;
  display: block;
  padding-top: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}

.botonDefault--small {
  width: 150px;
  position: relative;
  margin: auto;
  bottom: 3vw;
}

.botonDefault--pink {
  background-color: #FB3B64;
  box-shadow: 0 0;
}

.botonDefault--green {
  background-color: #55DFB4;
  box-shadow: 0 0;
}

.botonDefault--right {
  margin: 10% 0% 10% 25%;
}

.botonDefault--popUp {
  width: 120px;
  margin-top: 5%;
}

.cardPlataformData {
  width: 90%;
  text-align: center;
  margin: auto;
}
.cardPlataformData .cardPlataformData__titulo {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 30px;
  width: 80%;
  margin: auto;
}
.cardPlataformData .cardPlataformData__dato {
  width: 50%;
  margin: 10% auto 25% auto;
}
.cardPlataformData .cardPlataformData__dato .cardPlataformData__dato__miniLogo {
  width: 45%;
  margin: auto;
}
.cardPlataformData .cardPlataformData__dato .cardPlataformData__dato__miniLogo .cardPlataformData__dato__miniLogo__imagen {
  width: 40%;
  position: relative;
  top: 1px;
  left: 6px;
  margin-bottom: 20%;
}
.cardPlataformData .cardPlataformData__dato .cardPlataformData__dato__miniLogo .cardPlataformData__dato__miniLogo__imagen--eye {
  width: 70%;
  top: 2vw;
  margin-bottom: 40%;
}
.cardPlataformData .cardPlataformData__dato .cardPlataformData__dato__miniLogo .cardPlataformData__dato__miniLogo__imagen--catalog {
  width: 55%;
  left: 10px;
  top: 5px;
  margin-bottom: 30%;
}
.cardPlataformData .cardPlataformData__dato .cardPlataformData__dato__numero {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  position: relative;
  letter-spacing: 1.5vw;
  font-size: 20px;
}
.cardPlataformData .cardPlataformData__dato .cardPlataformData__dato__descripcion {
  font-family: "Raleway", sans-serif;
  position: relative;
  top: 2vw;
  font-weight: 400;
  color: #A5A5A5;
  font-size: 16px;
  width: 70%;
  left: 10%;
}

.backgroundCircle {
  background-color: #08A6E4;
  width: 11vw;
  height: 11vw;
  border-radius: 100%;
  margin: auto;
  position: absolute;
}

.backgroundCircle--pink {
  background-color: #FB3B64;
}

.backgroundCircle--green {
  background-color: #55DFB4;
}

.backgroundCircle--pink--radius {
  border-radius: 45%;
  transform: rotate(45deg);
  position: absolute;
  left: 59%;
  width: 15vw;
  height: 13vw;
}

.backgroundCircle--big {
  width: 30vw;
  height: 30vw;
  position: absolute;
  left: 34%;
}

.cardsDescription {
  background-color: #F7F7F7;
  padding: 10% 0;
}
.cardsDescription .cardsDescription__card {
  width: 80%;
  margin: 2% auto;
  border: 1px solid #E8E9ED;
  background-color: white;
  padding-top: 2%;
  border-radius: 4px;
}
.cardsDescription .cardsDescription__card .cardsDescription__card__imagen {
  width: 45vw;
  margin: 0 2%;
  margin-left: 26%;
  position: relative;
  top: 10px;
}
.cardsDescription .cardsDescription__card .cardsDescription__card__imagen--mobile {
  left: 10px;
}
.cardsDescription .cardsDescription__card .cardsDescription__card__divImagenTrompet {
  width: 100%;
  background-color: #55DFB4;
  border-radius: 4px;
}
.cardsDescription .cardsDescription__card .cardsDescription__card__imagen--trompet {
  width: 80%;
  margin: 0;
  position: relative;
  top: 25px;
  left: 10px;
}
.cardsDescription .cardsDescription__card .cardsDescription__card__text .cardsDescription__card__text__titulo {
  width: 75%;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 10% 2%;
  font-size: 30px;
  line-height: 9vw;
}
.cardsDescription .cardsDescription__card .cardsDescription__card__text .cardsDescription__card__text__descripccion {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  margin: 10% 2%;
  font-size: 14px;
  line-height: 5vw;
}

.pricing {
  text-align: center;
  margin: 10% 0;
}
.pricing .pricing__title {
  margin-bottom: 2%;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
}

.cardPricing {
  height: 270px;
  width: 80%;
  margin: auto;
  padding: 0% 2%;
  border: 1px solid #08A6E4;
  border-radius: 10%;
  margin-bottom: 15%;
}
.cardPricing .cardPricing__columna {
  height: 225px;
  width: 35%;
  position: absolute;
  margin-top: 30px;
}
.cardPricing .cardPricing__columna .cardPricing__columna__name {
  margin-top: 50px;
  width: 120%;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.cardPricing .cardPricing__columna .cardPricing__columna__price {
  font-size: 46px;
  width: 120%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  color: #08A6E4;
}
.cardPricing .cardPricing__columna .cardPricing__columna__description {
  width: 120%;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 700;
}
.cardPricing .cardPricing__columna .cardPricing__columna__ventajaDesventaja {
  display: inline-flex;
  width: 100%;
  margin: 10px 0;
  text-align: start;
}
.cardPricing .cardPricing__columna .cardPricing__columna__ventajaDesventaja .cardPricing__columna__ventajaDesventaja__img {
  width: 11px;
  margin: auto 0;
}
.cardPricing .cardPricing__columna .cardPricing__columna__ventajaDesventaja .cardPricing__columna__ventajaDesventaja__titulo {
  width: 80%;
  margin-left: 10%;
  font-size: 14px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.cardPricing .cardPricing__columna--bigRigth {
  width: 50%;
  position: relative;
  left: 53%;
}

.cardPricing--pink {
  border-color: #FB3B64;
}
.cardPricing--pink .cardPricing__columna .cardPricing__columna__price--pink {
  color: #FB3B64;
}

.cardPricing--green {
  border-color: #55DFB4;
}
.cardPricing--green .cardPricing__columna .cardPricing__columna__price--green {
  color: #55DFB4;
}

.cardPricing--big {
  width: 90%;
  height: 360px;
  padding-left: 3%;
  box-shadow: 4px 4px 14px 1px #08A6E4;
}
.cardPricing--big .cardPricing__columna {
  margin-top: 14px;
  margin-left: 10px;
  width: 155px;
  height: 320px;
  padding-top: 55px;
}

.moneda {
  position: absolute;
  left: 4%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: black;
  background: none;
  border: none;
  margin: 6px 0%;
  width: 90px;
}
.moneda .moneda__option {
  font-size: 15px;
}

.slider {
  margin: 20% 0;
  height: 56vw;
  width: 80%;
  text-align: center;
  margin: auto;
}
.slider .slider__img {
  width: 100%;
  height: 70%;
}
.slider .slider__arrow {
  width: 7%;
  position: relative;
  top: 26vw;
  color: white;
  right: 40%;
  cursor: pointer;
}
.slider .slider__arrow--right {
  left: 40%;
}
.slider .slider__circles {
  position: relative;
  top: 65%;
  left: 35%;
  display: flex;
  justify-content: space-between;
  width: 30%;
  align-items: center;
}
.slider .slider__circles .slider__circles__circle {
  width: 2vw;
  background-color: white;
  height: 2vw;
  border-radius: 100%;
  opacity: 70%;
  cursor: pointer;
}
.slider .slider__circles .slider__circles__circle--big {
  width: 2.5vw;
  height: 2.5vw;
  opacity: 1;
}

.information {
  width: 80vw;
  margin: auto;
}
.information .information__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 9vw;
}
.information .information__description {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 3.8vw;
}
.information .information__contacto {
  margin-top: 15%;
}
.information .information__contacto .information__contacto__icon {
  margin-bottom: -2%;
  width: 6vw;
  height: 5vw;
}
.information .information__contacto .information__contacto__text {
  display: inline-block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 4vw;
  color: #A5A5A5;
  margin-left: 2%;
}

.form {
  margin: 10% 0;
}
.form .form__title {
  color: #08A6E4;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  letter-spacing: 3.28px;
  font-size: 4vw;
}
.form .form__input {
  border: none;
  border-bottom: 1px solid #95989A;
  width: 80vw;
  height: 6vw;
  margin-bottom: 10%;
  background: none;
}
.form .form__input--red {
  border-color: red;
}
.form .form__personalData .form__personalData__checkbox {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  float: left;
  width: 4vw;
}
.form .form__personalData .form__personalData__checkbox .form__personalData__checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 5vw;
  height: 5vw;
  border: 1px solid #95989A;
  border-radius: 0.5vw;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
.form .form__personalData .form__personalData__checkbox .form__personalData__checkbox__input--red {
  border-color: red;
}
.form .form__personalData .form__personalData__checkbox .form__personalData__checkbox__input::before {
  content: "";
  width: 2.6vw;
  height: 2.6vw;
  -webkit-clip-path: polygon(15% 64%, 0% 65%, 44% 100%, 100% 13%, 100% 0%, 45% 83%);
          clip-path: polygon(15% 64%, 0% 65%, 44% 100%, 100% 13%, 100% 0%, 45% 83%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: CanvasText;
}
.form .form__personalData .form__personalData__checkbox .form__personalData__checkbox__input:checked::before {
  transform: scale(1);
}
.form .form__personalData .form__personalData__checkbox .form__personalData__checkbox__input:disabled {
  --form-control-color: var(--form-control-disabled);
  color: var(--form-control-disabled);
  cursor: not-allowed;
}
.form .form__personalData .form__personalData__text {
  display: inline-block;
  width: 72vw;
  margin-left: 5%;
  position: relative;
  bottom: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 2.8vw;
  color: #707070;
}

@media only screen and (min-width: 1000px) {
  .cardOpenShop {
    margin: 200px 0 100px 0;
  }
  .cardOpenShop .cardOpenShop__titulo {
    font-size: 49px;
    margin-bottom: 0%;
  }
  .cardOpenShop .cardOpenShop__descripcion {
    width: 400px;
  }
  .cardOpenShop .cardOpenShop__imagen {
    width: 100%;
    position: static;
    display: block;
  }
  .cardOpenShop .cardOpenShop__imagen--small {
    display: none;
  }
  .botonDefault {
    width: 440px;
    cursor: pointer;
  }
  .botonDefault--small {
    bottom: -1.5vw;
    width: 12vw;
    height: 3vw;
  }
  .botonDefault--small span {
    padding-top: 1vw;
    font-size: 13px;
  }
  .botonDefault--right {
    height: 4vw;
    width: 13vw;
    margin: 5% 0 0 auto;
  }
  .botonDefault--right span {
    padding-top: 1.5vw;
    font-size: 13px;
  }
  .cardPlataformData {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cardPlataformData .cardPlataformData__titulo {
    font-size: 36px;
    font-weight: 400;
    width: 100%;
  }
  .cardPlataformData .cardPlataformData__dato {
    width: 20%;
    margin: 10% auto 10% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cardPlataformData .cardPlataformData__dato .cardPlataformData__dato__miniLogo {
    width: 100%;
    margin: auto;
    display: flex;
    padding-left: 3vw;
  }
  .cardPlataformData .cardPlataformData__dato .cardPlataformData__dato__miniLogo .cardPlataformData__dato__miniLogo__imagen {
    width: 5vw;
    left: 3.5vw;
  }
  .cardPlataformData .cardPlataformData__dato .cardPlataformData__dato__miniLogo .cardPlataformData__dato__miniLogo__imagen--eye {
    width: 7vw;
    top: 1.5vw;
    left: 2vw;
  }
  .cardPlataformData .cardPlataformData__dato .cardPlataformData__dato__miniLogo .cardPlataformData__dato__miniLogo__imagen--catalog {
    width: 4.5vw;
    left: 4.5vw;
    top: 1vw;
  }
  .cardPlataformData .cardPlataformData__dato .cardPlataformData__dato__numero {
    width: 100%;
    position: static;
    letter-spacing: 0.37vw;
    font-size: 1.3vw;
  }
  .cardPlataformData .cardPlataformData__dato .cardPlataformData__dato__descripcion {
    width: 75%;
    position: static;
    font-size: 1.1vw;
    padding-right: 1vw;
    margin-top: 1vw;
  }
  .backgroundCircle {
    width: 7vw;
    height: 7vw;
  }
  .backgroundCircle--pink--radius {
    width: 10vw;
    height: 10vw;
    border-radius: 20%;
    margin-top: 5%;
    left: 73%;
    z-index: 0;
  }
  .backgroundCircle--big {
    width: 20vw;
    height: 20vw;
    left: 15%;
  }
  .cardsDescription .cardsDescription__card {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 0;
  }
  .cardsDescription .cardsDescription__card .cardsDescription__card__text .cardsDescription__card__text__titulo {
    width: 80%;
    margin: 10% 0 5% 5%;
    font-size: 36px;
    line-height: 2.63vw;
  }
  .cardsDescription .cardsDescription__card .cardsDescription__card__text .cardsDescription__card__text__descripccion {
    width: 55%;
    margin: 2% 5%;
    font-size: 16px;
    line-height: 1.4vw;
  }
  .cardsDescription .cardsDescription__card .cardsDescription__card__imagen {
    height: 13vw;
    position: static;
    width: auto;
    margin: 8% 10% 0% 0%;
    z-index: 1;
  }
  .cardsDescription .cardsDescription__card--bigscreen {
    flex-direction: initial;
  }
  .cardsDescription .cardsDescription__card--bigscreen .cardsDescription__card__text .cardsDescription__card__text__titulo {
    width: 70%;
    margin: 16% 0 5% 5%;
  }
  .cardsDescription .cardsDescription__card--bigscreen .cardsDescription__card__text .cardsDescription__card__text__descripccion {
    width: 87%;
  }
  .cardsDescription .cardsDescription__card--bigscreen .cardsDescription__card__imagen--mobile {
    height: 20vw;
    margin: 3% 25% 1% 5%;
  }
  .cardsDescription .cardsDescription__card--separateBlock {
    flex-direction: initial;
    border: 1px solid #F7F7F7;
  }
  .cardsDescription .cardsDescription__card--separateBlock .cardsDescription__card__text {
    border-right: 70px solid #F7F7F7;
    width: 170%;
  }
  .cardsDescription .cardsDescription__card--separateBlock .cardsDescription__card__text .cardsDescription__card__text__titulo {
    width: 50%;
  }
  .cardsDescription .cardsDescription__card--separateBlock .cardsDescription__card__text .cardsDescription__card__text__descripccion {
    width: 56%;
  }
  .cardsDescription .cardsDescription__card--separateBlock .cardsDescription__card__imagen--trompet {
    margin: 25% 0% 0% 10%;
  }
  .line {
    width: 70%;
    margin: 10% 0 8% 5%;
    height: 5px;
    background: #08A6E4;
  }
  .line--pink {
    width: 45%;
    margin: 6% 0 8% 5%;
    background-color: #FB3B64;
  }
  .line--green {
    margin: 5% 10% 10% 5%;
    width: 45%;
    background-color: #55DFB4;
  }
  .pricing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .pricing .pricing__title {
    width: 10%;
    margin-right: 31%;
  }
  .pricing .cardPricing {
    height: auto;
    width: 20%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    color: #08A6E4;
  }
  .pricing .cardPricing .cardPricing__columna {
    width: 100%;
    position: static;
    height: 25%;
    margin-left: 0;
    padding: 0;
  }
  .pricing .cardPricing .cardPricing__columna .cardPricing__columna__name {
    margin-top: 1vw;
    width: 100%;
    font-size: 21px;
    color: black;
  }
  .pricing .cardPricing .cardPricing__columna .cardPricing__columna__price {
    width: 100%;
    font-size: 46px;
  }
  .pricing .cardPricing .cardPricing__columna .cardPricing__columna__description {
    width: 100%;
    font-size: 12px;
    color: black;
  }
  .pricing .cardPricing .cardPricing__columna--bigRigth {
    position: static;
    margin: 15% 0 0% 0;
    height: 71%;
  }
  .pricing .cardPricing .cardPricing__columna--bigRigth .cardPricing__columna__ventajaDesventaja {
    margin: 5% 0;
    justify-content: center;
  }
  .pricing .cardPricing .cardPricing__columna--bigRigth .cardPricing__columna__ventajaDesventaja .cardPricing__columna__ventajaDesventaja__titulo {
    width: auto;
    margin-left: 5%;
    text-align: center;
    color: black;
  }
  .pricing .cardPricing--pink {
    color: #FB3B64;
  }
  .pricing .cardPricing--green {
    color: #55DFB4;
  }
  .pricing .cardPricing--big {
    box-shadow: none;
    margin: 0 5%;
  }
  .pricing .cardPricing:hover {
    transform: scale(110%);
    padding: 0 2%;
    box-shadow: 4px 4px 14px 1px currentColor;
  }
  .pricing .cardPricing:hover .cardPricing__columna--bigRigth {
    height: 47%;
  }
  .moneda {
    position: static;
    font-size: 25px;
    width: 10%;
    padding: 0;
    margin-left: 32%;
    margin-bottom: 2%;
  }
  .moneda .moneda__option {
    font-size: 20px;
  }
  .information {
    display: flex;
    width: 65%;
    height: 25vw;
  }
  .information .information__infoContacto {
    display: flex;
    flex-wrap: wrap;
    height: 10vw;
    width: 50%;
  }
  .information .information__infoContacto .information__title {
    width: 100%;
    font-size: 2.8vw;
  }
  .information .information__infoContacto .information__description {
    width: 100%;
    font-size: 1vw;
  }
  .information .information__infoContacto .information__contacto {
    display: flex;
    width: 30%;
    margin-top: 5%;
    margin-right: 5%;
  }
  .information .information__infoContacto .information__contacto .information__contacto__icon {
    width: 1.3vw;
    height: 1vw;
  }
  .information .information__infoContacto .information__contacto .information__contacto__text {
    width: 73%;
    font-size: 1vw;
  }
  .information .form {
    width: 50%;
    margin: 0;
  }
  .information .form .form__title {
    font-size: 0.64vw;
  }
  .information .form .form__input {
    width: 100%;
    height: 3vw;
    font-size: 1.5vw;
  }
  .information .form .form__personalData {
    flex-wrap: nowrap;
    width: 100%;
  }
  .information .form .form__personalData .form__personalData__checkbox {
    width: 2vw;
  }
  .information .form .form__personalData .form__personalData__checkbox .form__personalData__checkbox__input {
    width: 1.5vw;
    height: 1.5vw;
  }
  .information .form .form__personalData .form__personalData__checkbox .form__personalData__checkbox__input::before {
    width: 0.8vw;
    height: 0.8vw;
  }
  .information .form .form__personalData .form__personalData__text {
    width: 85%;
    font-size: 0.7vw;
  }
}
.footer {
  margin-top: 15%;
  box-shadow: 0 0 10px 10px lightgray;
  padding-bottom: 10px;
}
.footer .footer__logo {
  width: 60%;
  display: inline-block;
}
.footer .footer__copyright {
  color: #A5A5A5;
  padding-left: 8%;
  padding-bottom: 8%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 3vw;
}

.logo--footer {
  padding-bottom: 0;
  font-size: 7vw;
  width: 100%;
}

.social {
  width: 6vw;
  height: 6vw;
  display: inline-block;
  position: relative;
  left: 10%;
  margin: 0 2%;
}

@media only screen and (min-width: 1000px) {
  .footer {
    margin-top: 5%;
    display: flex;
  }
  .footer .footer__logo {
    width: 65%;
    margin-left: 5%;
  }
  .footer .footer__logo .footer__copyright {
    font-size: 0.6vw;
    padding-left: 2%;
    padding-bottom: 2%;
  }
  .logo--footer {
    font-size: 1.5vw;
  }
  .social {
    width: 2vw;
    height: 2vw;
    margin: 2% 1% 0 1%;
  }
}/*# sourceMappingURL=styles.css.map */