@import url("https://fonts.googleapis.com/css2?family=Raleway:display=swap");
:root {
  --form-control-color: #08A6E4;
  --form-control-disabled: #959495;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
}

.header {
  padding: 0% 6% 0% 6%;
  box-shadow: 0px 5px 5px lightgray;
}
.header .header__menuLogo {
  width: 7vw;
  color: #08A6E4;
  display: inline-block;
  position: relative;
  top: 0.4em;
  margin-left: 10%;
}
.header .header__menu {
  padding: 0% 0% 5% 5%;
}
.header .header__menu .header__menuEnlaces {
  list-style: none;
  margin: 2% 0%;
}
.header .header__menu .header__menuEnlaces a {
  text-decoration: none;
  color: #A5A5A5;
  font-size: 3.5vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 1vw;
}
.header .header__menu .header__menuEnlaces--black a {
  color: black;
}
.header .header__menu--displayNone {
  display: none;
}

.logo {
  font-size: 7vw;
  padding: 8%;
  width: 75%;
  color: #08A6E4;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.social {
  width: 24px;
  height: 24px;
}

.cardOpenShop {
  text-align: center;
  margin: 20% 0;
}
.cardOpenShop .cardOpenShop__titulo {
  margin-bottom: 5%;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 8vw;
}
.cardOpenShop .cardOpenShop__descripcion {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 4vw;
  margin: 0% 18%;
}
.cardOpenShop .cardOpenShop__imagen {
  width: 100%;
}

.botonDefault {
  width: 60vw;
  margin: 10% auto;
  background-color: #08A6E4;
  color: white;
  height: 18vw;
  border-radius: 100px;
  box-shadow: 10px 10px 10px rgba(8, 166, 228, 0.3137254902);
  text-align: center;
}
.botonDefault span {
  font-size: 4vw;
  color: white;
  display: block;
  padding-top: 6vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}

.botonDefault--small {
  width: 35vw;
  position: relative;
  margin: auto;
  bottom: 9vw;
}

.botonDefault--pink {
  background-color: #FB3B64;
  box-shadow: 0 0;
}

.botonDefault--green {
  background-color: #55DFB4;
  box-shadow: 0 0;
}

.botonDefault--right {
  margin: 10% 0% 10% 25%;
}

.cardPlataformData {
  width: 75%;
  text-align: center;
  margin: auto;
}
.cardPlataformData .cardPlataformData__titulo {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 8.5vw;
}
.cardPlataformData .cardPlataformData__dato {
  width: 50%;
  margin: 10% auto 25% auto;
}
.cardPlataformData .cardPlataformData__dato .cardPlataformData__dato__miniLogo {
  width: 45%;
  margin: auto;
}
.cardPlataformData .cardPlataformData__dato .cardPlataformData__dato__miniLogo .cardPlataformData__dato__miniLogo__imagen {
  width: 50%;
  position: relative;
  top: 1px;
  left: 6px;
  margin-bottom: 20%;
}
.cardPlataformData .cardPlataformData__dato .cardPlataformData__dato__miniLogo .cardPlataformData__dato__miniLogo__imagen--eye {
  width: 70%;
  top: 2vw;
  margin-bottom: 40%;
}
.cardPlataformData .cardPlataformData__dato .cardPlataformData__dato__miniLogo .cardPlataformData__dato__miniLogo__imagen--catalog {
  width: 55%;
  left: 10px;
  top: 5px;
  margin-bottom: 30%;
}
.cardPlataformData .cardPlataformData__dato .cardPlataformData__dato__numero {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  position: relative;
  letter-spacing: 1.5vw;
  font-size: 4vw;
}
.cardPlataformData .cardPlataformData__dato .cardPlataformData__dato__descripcion {
  font-family: "Raleway", sans-serif;
  position: relative;
  top: 2vw;
  font-weight: 400;
  color: #A5A5A5;
  font-size: 3vw;
  width: 70%;
  left: 10%;
}

.backgroundCircle {
  background-color: #08A6E4;
  width: 11vw;
  height: 11vw;
  border-radius: 100%;
  margin: auto;
  position: absolute;
}

.backgroundCircle--pink {
  background-color: #FB3B64;
}

.backgroundCircle--green {
  background-color: #55DFB4;
}

.backgroundCircle--pink--radius {
  border-radius: 45%;
  transform: rotate(45deg);
  position: absolute;
  left: 59%;
  width: 15vw;
  height: 13vw;
}

.backgroundCircle--big {
  width: 30vw;
  height: 30vw;
  position: absolute;
  left: 34%;
}

.cardsDescription {
  background-color: #F7F7F7;
  padding: 10% 0;
}
.cardsDescription .cardsDescription__card {
  width: 80%;
  margin: 5% auto;
  border: 1px solid #E8E9ED;
  background-color: white;
  padding-top: 5%;
  border-radius: 4px;
}
.cardsDescription .cardsDescription__card .cardsDescription__card__imagen {
  width: 45vw;
  margin: 0 5%;
  margin-left: 26%;
  position: relative;
  top: 10px;
}
.cardsDescription .cardsDescription__card .cardsDescription__card__imagen--mobile {
  left: 10px;
}
.cardsDescription .cardsDescription__card .cardsDescription__card__divImagenTrompet {
  width: 100%;
  background-color: #55DFB4;
  border-radius: 4px;
}
.cardsDescription .cardsDescription__card .cardsDescription__card__imagen--trompet {
  width: 80%;
  margin: 0;
  position: relative;
  top: 25px;
  left: 10px;
}
.cardsDescription .cardsDescription__card .cardsDescription__card__titulo {
  width: 75%;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 10% 5%;
  font-size: 6vw;
  line-height: 9vw;
}
.cardsDescription .cardsDescription__card .cardsDescription__card__descripccion {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  margin: 10% 5%;
  font-size: 3vw;
  line-height: 5vw;
}

.pricing {
  text-align: center;
  margin: 10% 0;
}
.pricing .pricing__title {
  margin-bottom: 5%;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 9vw;
}

.cardPricing {
  height: 63vw;
  width: 70vw;
  margin: auto;
  padding: 0% 2%;
  border: 1px solid #08A6E4;
  border-radius: 10%;
}
.cardPricing .cardPricing__columna {
  height: 55vw;
  width: 28vw;
  position: absolute;
  margin-top: 10px;
}
.cardPricing .cardPricing__columna .cardPricing__columna__name {
  margin-top: 13vw;
  width: 120%;
  font-family: "Raleway", sans-serif;
  font-size: 5vw;
  font-weight: 700;
}
.cardPricing .cardPricing__columna .cardPricing__columna__price {
  font-size: 14vw;
  width: 120%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  color: #08A6E4;
}
.cardPricing .cardPricing__columna .cardPricing__columna__description {
  width: 120%;
  font-family: "Raleway", sans-serif;
  font-size: 2.5vw;
  font-weight: 700;
}
.cardPricing .cardPricing__columna .cardPricing__columna__ventajaDesventaja {
  display: inline-flex;
  width: 100%;
  margin: 3.1vw 0;
  text-align: start;
  margin-top: 4vw;
}
.cardPricing .cardPricing__columna .cardPricing__columna__ventajaDesventaja .cardPricing__columna__ventajaDesventaja__img {
  width: 9%;
  margin: auto 0;
}
.cardPricing .cardPricing__columna .cardPricing__columna__ventajaDesventaja .cardPricing__columna__ventajaDesventaja__titulo {
  width: 80%;
  margin-left: 10%;
  font-size: 2.6vw;
  font-weight: 400;
}
.cardPricing .cardPricing__columna--bigRigth {
  width: 33vw;
  position: relative;
  left: 53%;
}

.cardPricing--pink {
  border-color: #FB3B64;
}
.cardPricing--pink .cardPricing__columna .cardPricing__columna__price--pink {
  color: #FB3B64;
}

.cardPricing--green {
  border-color: #55DFB4;
}
.cardPricing--green .cardPricing__columna .cardPricing__columna__price--green {
  color: #FB3B64;
}

.cardPricing--big {
  width: 90vw;
  height: 65vw;
  padding-left: 3%;
  box-shadow: 4px 4px 14px 1px rgba(8, 166, 228, 0.3137254902);
}
.cardPricing--big .cardPricing__columna {
  margin-top: 4vw;
  margin-left: 10px;
}

.information {
  width: 80vw;
  margin: auto;
}
.information .information__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 9vw;
}
.information .information__description {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 3.8vw;
}
.information .information__contacto {
  margin-top: 15%;
}
.information .information__contacto .information__contacto__icon {
  margin-bottom: -2%;
  width: 6vw;
  height: 5vw;
}
.information .information__contacto .information__contacto__text {
  display: inline-block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 4vw;
  color: #A5A5A5;
  margin-left: 5%;
}

.form {
  margin: 10% 0;
}
.form .form__title {
  color: #08A6E4;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  letter-spacing: 3.28px;
  font-size: 4vw;
}
.form .form__inpu {
  border: none;
  border-bottom: 1px solid #95989A;
  width: 80vw;
  height: 6vw;
  margin-bottom: 10%;
}
.form .form__personalData .form__personalData_checkbox {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  float: left;
  width: 4vw;
}
.form .form__personalData .form__personalData_checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 5vw;
  height: 5vw;
  border: 1px solid #95989A;
  border-radius: 0.5vw;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
.form .form__personalData .form__personalData_checkbox input::before {
  content: "";
  width: 1.6vw;
  height: 1.6vw;
  -webkit-clip-path: polygon(15% 64%, 0% 65%, 44% 100%, 100% 13%, 100% 0%, 45% 83%);
          clip-path: polygon(15% 64%, 0% 65%, 44% 100%, 100% 13%, 100% 0%, 45% 83%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: CanvasText;
}
.form .form__personalData .form__personalData_checkbox input:checked::before {
  transform: scale(1);
}
.form .form__personalData .form__personalData_checkbox input:disabled {
  --form-control-color: var(--form-control-disabled);
  color: var(--form-control-disabled);
  cursor: not-allowed;
}
.form .form__personalData .form__personalData__text {
  display: inline-block;
  width: 72vw;
  margin-left: 10px;
  position: relative;
  bottom: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 2.8vw;
  color: #707070;
}

.footer {
  margin-top: 15%;
  box-shadow: 0 0 10px 10px lightgray;
  padding-bottom: 10px;
}
.footer .footer__logo {
  width: 60%;
  display: inline-block;
}
.footer .footer__copyright {
  color: #A5A5A5;
  padding-left: 8%;
  padding-bottom: 8%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 3vw;
}

.logo--footer {
  padding-bottom: 0;
  font-size: 7vw;
  width: 100%;
}

.social {
  width: 6vw;
  height: 6vw;
  display: inline-block;
  position: relative;
  left: 10%;
  margin: 0 2%;
}/*# sourceMappingURL=styles.css.map */