* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 320px;
}

.displaNone {
    display: none;
}

#percentageScroller {
    position: sticky;
    top: 0;
    z-index: 2;
    height: 0.5vw;
    background-color: $colorPrincipal;
}