.footer {
    margin-top: 15%;
    box-shadow: 0 0 10px 10px lightgray;
    padding-bottom: 10px;
    .footer__logo {
        width: 60%;
        display: inline-block;
    }
    .footer__copyright {
        color: #A5A5A5;
        padding-left: 8%;
        padding-bottom: 8%;
        font-family: $fontSecundaria;
        font-weight: 400;
        font-size: 3vw;
    }
}

.logo--footer {
    padding-bottom: 0;
    font-size: 7vw;
    width: 100%;
}

.social {
    width: 6vw;
    height: 6vw;
    display: inline-block;
    position: relative;
    left: 10%;
    margin: 0 2%;
}