.header {
    padding: 0% 6% 0% 6%;
    box-shadow: 0px 5px 5px lightgray;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 2;
    .header__menuLogo {
        width: 30px;
        color: $colorPrincipal;
        display: inline-block;
        position: relative;
        top: 0.4em;
        margin-left: 25%;
    }
    .header__menu {
        padding: 0% 0% 5% 5%;;
        .header__menu__menuEnlaces {
            list-style: none;
            margin: 4% 0%;
            a {
               text-decoration: none;
               color: #A5A5A5; 
               font-size: 11px;
               font-family: $fontSecundaria;
               letter-spacing: 1vw;
               font-weight: 700;
            }
        }
        .header__menu__menuEnlaces--black {
            a {
              color: black;  
            }
        }
    }

    .displayNone {
        display: none;
    }
}

.logo {
    font-size: 32px;
    padding: 17px 0;
    width: 60%;
    color: $colorPrincipal;
    display: inline-block;
    font-family: $fontPrincipal;
    font-weight: 300;
}

.moneda {
    font-size: 4.2vw;
    font-family: $fontSecundaria;
    font-weight: 400;
    color: black;
    background: none;
    border: none;
    border-bottom: 4px solid $colorPrincipal;
    margin: 0 0%;
    width: 20%;
    padding: 8% 0;
    .moneda__option {
        font-size: 2.7vw;
    }
}

.social {
    width: 24px;
    height: 24px;
}

@media only screen and (min-width: 1000px) {
    .header {
        display: flex;
        justify-content: space-between;
        .header__menuLogo {
            display: none;
        }
        .header__menu, .displayNone {
            display: flex;
            width: 50%;
            padding: 0;
            justify-content: end;
            .header__menu__menuEnlaces {
                margin: 0 3%;
                width: 15%;
                display: flex;
                align-items: center;
                justify-content: center;
                a {
                    letter-spacing: 0.2vw;
                }
            }
            .header__menu__menuEnlaces--black {
                border-bottom: 4px solid $colorPrincipal;
            }
        }
    }

    .logo {
        width: 22%;
    }

    .moneda {
        font-size: 1.2vw;
        width: 5%;
        padding: 0;
        .moneda__option {
            font-size: 0.7vw;
        }
    }
}