.cardOpenShop {
    text-align: center;
    margin: 20% 0;
    .cardOpenShop__titulo {
        margin-bottom: 2%;
        font-family: $fontPrincipal;
        font-weight: 400;
        font-size: 8vw;
    }
    .cardOpenShop__descripcion {
        font-family: $fontSecundaria;
        font-weight: 400;
        font-size: 4vw;
        margin: 0% 18%;
    }
    .cardOpenShop__imagen {
        width: 100%;
        display: block;
    }
    .cardOpenShop__imagen--big {
        display: none;
    }
}

.botonDefault {
    width: 60vw;
    margin: 10% auto;
    background-color: $colorPrincipal;
    color: white;
    height: 18vw;
    border-radius: 100px;
    box-shadow: 10px 10px 10px $colorPrincipalOpacity;
    text-align: center;
    span {
        font-size: 4vw;
        color: white;
        display: block;
        padding-top: 6vw;
        font-family: $fontSecundaria;
        font-weight: 700;
    }
}

.botonDefault--small {
    width: 35vw;
    position: relative;
    margin: auto;
    bottom: 3vw;
    
}
.botonDefault--pink {
    background-color: $colorSecundario;
    box-shadow: 0 0;
}
.botonDefault--green {
    background-color: $colorTerciario;
    box-shadow: 0 0;
}
.botonDefault--right {
    margin: 10% 0% 10% 25%;
}

.cardPlataformData {
    width: 75%;
    text-align: center;
    margin: auto;
    .cardPlataformData__titulo {
        font-family: $fontPrincipal;
        font-weight: 300;
        font-size: 8.5vw;
    }
    .cardPlataformData__dato {
        width: 50%;
        margin: 10% auto 25% auto;
        .cardPlataformData__dato__miniLogo {
            width: 45%;
            margin: auto;
            .cardPlataformData__dato__miniLogo__imagen {
                width: 50%;
                position: relative;
                top: 1px;
                left: 6px;
                margin-bottom: 20%;
            }
            .cardPlataformData__dato__miniLogo__imagen--eye {
                width: 70%;
                top: 2vw;
                margin-bottom: 40%;
            }
            .cardPlataformData__dato__miniLogo__imagen--catalog {
                width: 55%;
                left: 10px;
                top: 5px;
                margin-bottom: 30%;
            }
        }

        .cardPlataformData__dato__numero {
            font-family: $fontPrincipal;
            font-weight: 800;
            position: relative;
            letter-spacing: 1.5vw;
            font-size: 4vw;
        }
        .cardPlataformData__dato__descripcion {
            font-family: $fontPrincipal;
            position: relative;
            top: 2vw;
            font-weight: 400;
            color: #A5A5A5;
            font-size: 3vw;
            width: 70%;
            left: 10%;
        }
    }
}

.backgroundCircle {
    background-color: $colorPrincipal;
    width: 11vw;
    height: 11vw;
    border-radius: 100%;
    margin: auto;
    position: absolute;
}
.backgroundCircle--pink {
    background-color: $colorSecundario;
}
.backgroundCircle--green {
    background-color: $colorTerciario;
}
.backgroundCircle--pink--radius {
    border-radius: 45%;
    transform: rotate(45deg);
    position: absolute;
    left: 59%;
    width: 15vw;
    height: 13vw;
}
.backgroundCircle--big {
    width: 30vw;
    height: 30vw;
    position: absolute;
    left: 34%;
}

.cardsDescription {
    background-color: #F7F7F7;
    padding: 10% 0;
    .cardsDescription__card {
        width: 80%;
        margin: 2% auto;
        border: 1px solid #E8E9ED;
        background-color: white;
        padding-top: 2%;
        border-radius: 4px;
        .cardsDescription__card__imagen {
            width: 45vw;
            margin: 0 2%;
            margin-left: 26%;
            position: relative;
            top: 10px;
        }
        .cardsDescription__card__imagen--mobile {
            left: 10px;
        }
        .cardsDescription__card__divImagenTrompet {
            width: 100%;
            background-color: $colorTerciario;
            border-radius: 4px;
        }
        .cardsDescription__card__imagen--trompet {
            width: 80%;
            margin: 0;
            position: relative;
            top: 25px;
            left: 10px;
        }
        .cardsDescription__card__text {

            .cardsDescription__card__text__titulo {
                width: 75%;
                font-family: $fontPrincipal;
                font-weight: 400;
                margin: 10% 2%;
                font-size: 6vw;
                line-height: 9vw;
            }
            .cardsDescription__card__text__descripccion {
                font-family: $fontSecundaria;
                font-weight: 400;
                margin: 10% 2%;
                font-size: 3vw;
                line-height: 5vw;
            }
        }
    }
}

.pricing {
    text-align: center;
    margin: 10% 0;
    .pricing__title {
        margin-bottom: 2%;
        font-family: $fontPrincipal;
        font-weight: 400;
        font-size: 9vw;
    }
}
.cardPricing {
    height: 63vw;
    width: 70vw;
    margin: auto;  
    padding: 0% 2%;
    border: 1px solid $colorPrincipal;
    border-radius: 10%; 
    margin-bottom: 15%;
    .cardPricing__columna {
        height: 55vw;
        width: 28vw;
        position: absolute;
        margin-top: 10px;
        .cardPricing__columna__name {
            margin-top: 13vw;
            width: 120%;
            font-family: $fontPrincipal;
            font-size: 5vw;
            font-weight: 700;
        }
        .cardPricing__columna__price {
            font-size: 14vw;
            width: 120%;
            font-family: $fontSecundaria;
            font-weight: 300;
            color: $colorPrincipal;
        }  
        .cardPricing__columna__description {
            width: 120%;
            font-family: $fontPrincipal;
            font-size: 2.5vw;
            font-weight: 700;
        }
        .cardPricing__columna__ventajaDesventaja {
            display: inline-flex;
            width: 100%;
            margin: 3.1vw 0;
            text-align: start;
            margin-top: 4vw;
            .cardPricing__columna__ventajaDesventaja__img {
                width: 9%;
                margin: auto 0;
            }
            .cardPricing__columna__ventajaDesventaja__titulo {
                width: 80%;
                margin-left: 10%;
                font-size: 2.6vw;
                font-weight: 400;
            }
        }   
    }
    .cardPricing__columna--bigRigth {
        width: 33vw;
        position: relative;
        left: 53%;
    }
  
}

.cardPricing--pink {
    border-color: $colorSecundario;
    .cardPricing__columna {
        .cardPricing__columna__price--pink {
            color: $colorSecundario;
        }
    }
    
}
.cardPricing--green {
    border-color: $colorTerciario;
    .cardPricing__columna {
        .cardPricing__columna__price--green {
            color: $colorSecundario;
        }
    }
}
.cardPricing--big {
    width: 90vw;
    height: 65vw;
    padding-left: 3%;
    box-shadow: 4px 4px 14px 1px $colorPrincipalOpacity;
    .cardPricing__columna {
        margin-top: 4vw;
        margin-left: 10px;
    }
}


.information {
    width: 80vw;
    margin: auto;
    .information__title {
        font-family: $fontPrincipal;
        font-weight: 400;
        font-size: 9vw;
    }
    .information__description {
        font-family: $fontSecundaria;
        font-weight: 400;
        font-size: 3.8vw;
    }
    .information__contacto {
        margin-top: 15%;
        .information__contacto__icon {
            margin-bottom: -2%;
            width: 6vw;
            height: 5vw;
        }
        .information__contacto__text {
            display: inline-block;
            font-family: $fontSecundaria;
            font-weight: 600;
            font-size: 4vw;
            color: #A5A5A5;
            margin-left: 2%;
        }
    }
}

.form {
    margin: 10% 0;
    .form__title {
        color: $colorPrincipal;
        font-family: $fontSecundaria;
        font-weight: 600;
        letter-spacing: 3.28px;
        font-size: 4vw;
    }
    .form__inpu {
        border: none;
        border-bottom: 1px solid #95989A;
        width: 80vw;
        height: 6vw;
        margin-bottom: 10%;
    }
    .form__personalData {
        .form__personalData__checkbox {
            font-family: system-ui, sans-serif;
            font-size: 2rem;
            font-weight: bold;
            line-height: 1.1;
            display: grid;
            grid-template-columns: 1em auto;
            gap: 0.5em;
            float: left;
            width: 4vw;
            input {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-color: var(--form-background);
                margin: 0;
                font: inherit;
                color: currentColor;
                width: 5vw;
                height: 5vw;
                border: 1px solid #95989A;
                border-radius: 0.5vw;
                transform: translateY(-0.075em);
                display: grid;
                place-content: center;
            }
            input::before {
                content: "";
                width: 2.6vw;
                height: 2.6vw;
                clip-path: polygon(15% 64%, 0% 65%, 44% 100%, 100% 13%, 100% 0%, 45% 83%);
                transform: scale(0);
                transform-origin: bottom left;
                transition: 120ms transform ease-in-out;
                box-shadow: inset 1em 1em var(--form-control-color);
                background-color: CanvasText;
            }
            input:checked::before {
                transform: scale(1);
            }
            input:disabled {
                --form-control-color: var(--form-control-disabled);
                color: var(--form-control-disabled);
                cursor: not-allowed;
            }
        }
        .form__personalData__text {
            display: inline-block;
            width: 72vw;
            margin-left: 5%;
            position: relative;
            bottom: 5px;
            font-family: $fontSecundaria;
            font-weight: 400;
            font-size: 2.8vw;
            color: #707070;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .cardOpenShop {
        margin: 10% 0 2% 0;
        .cardOpenShop__titulo {
            font-size: 3vw;
            margin-bottom: 0%;
        }
        .cardOpenShop__descripcion {
            font-size: 1vw;
            margin: 2% auto;
            height: 2vw;
        }
        .cardOpenShop__imagen {
            width: 100%;
            position: static;
            display: block;
        }
        .cardOpenShop__imagen--small {
            display: none;
        }
    }

    .botonDefault {
        width: 30%;
        height: 6vw;
        margin: 1% auto;
        span {
            font-size: 1.5vw;
            padding-top: 2vw;
        }
    }
    .botonDefault--small {
        bottom: -1.5vw;
        width: 12vw;
        height: 3vw;
        span {
            padding-top: 1vw;
            font-size: 0.9vw;
        }
    }

    .botonDefault--right {
        height: 4vw;
        width: 13vw;
        margin: 5% 0 0 auto;
        span {
            padding-top: 1.5vw;
            font-size: 0.8vw;
        }
    }

    .cardPlataformData {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .cardPlataformData__titulo {
            font-size: 2vw;
            font-weight: 400;
            width: 100%;
        }
        .cardPlataformData__dato {
            width: 20%;
            margin: 10% auto 10% auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .cardPlataformData__dato__miniLogo {
                width: 100%;
                margin: auto;
                display: flex;
                padding-left: 3vw;
                .cardPlataformData__dato__miniLogo__imagen {
                    width: 5vw;
                    left: 3.5vw;
                }
                .cardPlataformData__dato__miniLogo__imagen--eye {
                    width: 7vw;
                    top: 1.5vw;
                    left: 2vw;
                }
                .cardPlataformData__dato__miniLogo__imagen--catalog {
                    width: 4.5vw;
                    left: 4.5vw;
                    top: 1vw;
                }
            }
            .cardPlataformData__dato__numero {
                width: 100%;
                position: static;
                letter-spacing: 0.37vw;
                font-size: 1.3vw;
            }
            .cardPlataformData__dato__descripcion {
                width: 75%;
                position: static;
                font-size: 1.1vw;
                padding-right: 1vw;
                margin-top: 1vw;
            }
        }
    }

    .backgroundCircle {
        width: 7vw;
        height: 7vw;
    }
    .backgroundCircle--pink--radius {
        width: 10vw;
        height: 10vw;
        border-radius: 20%;
        margin-top: 5%;
        left: 73%;
        z-index: 0;
    }
    .backgroundCircle--big {
        width: 20vw;
        height: 20vw;
        left: 15%;
    }

    .cardsDescription {
        .cardsDescription__card {
            display: flex;
            flex-direction: row-reverse;
            padding-top: 0;
            .cardsDescription__card__text {
                .cardsDescription__card__text__titulo {
                    width: 80%;
                    margin: 10% 0 5% 5%;
                    font-size: 2.3vw;
                    line-height: 2.63vw;
                }
                .cardsDescription__card__text__descripccion {
                    width: 55%;
                    margin: 2% 5%;
                    font-size: 1vw;
                    line-height: 1.4vw;
                }
            }
            .cardsDescription__card__imagen {
                height: 13vw;
                position: static;
                width: auto;
                margin: 8% 10% 0% 0%;
                z-index: 1;
            }
        }
        .cardsDescription__card--bigscreen {
            flex-direction: initial;
            .cardsDescription__card__text {
                
                .cardsDescription__card__text__titulo {
                    width: 70%;
                    margin: 16% 0 5% 5%;
                }
                .cardsDescription__card__text__descripccion {
                    width: 87%;
                }
            }
            .cardsDescription__card__imagen--mobile {
                height: 20vw;
                margin: 3% 25% 1% 5%;
            }
        }
        .cardsDescription__card--separateBlock {
            flex-direction: initial;
            border: 1px solid #F7F7F7;
            .cardsDescription__card__text {
                border-right: 70px solid #F7F7F7;
                width: 170%;
                .cardsDescription__card__text__titulo {
                    width: 50%;
                }
                .cardsDescription__card__text__descripccion {
                    width: 56%;
                }
            }
            .cardsDescription__card__imagen--trompet {
                margin: 25% 0% 0% 10%;
            }
        }
    }

    .line {
        width: 70%;
        margin: 10% 0 8% 5%;
        height: 5px;
        background: $colorPrincipal;
    }
    .line--pink {
        width: 45%;
        margin: 6% 0 8% 5%;
        background-color: $colorSecundario;
    }
    .line--green {
        margin: 5% 10% 10% 5%;
        width: 45%;
        background-color: $colorTerciario;
    }

    .pricing {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        .pricing__title {
            width: 100%;
            font-size: 4vw;
        }
        .cardPricing {
            height: auto;
            width: 25vw;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            .cardPricing__columna {
                width: 100%;
                position: static;
                height: 25%;
                margin-left: 0;
                .cardPricing__columna__name {
                    margin-top: 1vw;
                    width: 100%;
                    font-size: 2vw;
                }
                .cardPricing__columna__price {
                    width: 100%;
                    font-size: 4vw;
                }
                .cardPricing__columna__description {
                    width: 100%;
                    font-size: 0.8vw;
                }
            }
            .cardPricing__columna--bigRigth {
                position: static;
                margin: 15% 0 0% 0;
                height: 71%;
                .cardPricing__columna__ventajaDesventaja {
                    margin: 5% 0;
                    justify-content: center;
                    .cardPricing__columna__ventajaDesventaja__img {
                        width: 5%;
                    }
                    .cardPricing__columna__ventajaDesventaja__titulo {
                        font-size: 1vw;
                        width: auto;
                        margin-left: 5%;
                        text-align: center;
                    }
                }
            }
        }
        .cardPricing--big {
            width: 30vw;
            height: 40vw;
            padding: 0 2%;
            .cardPricing__columna--bigRigth {
                height: 47%;
            }
        }

    }

    .information {
        display: flex;
        width: 65%;
        height: 25vw;
        .information__infoContacto {
            display: flex;
            flex-wrap: wrap;
            height: 10vw;
            width: 50%;
            .information__title {
                width: 100%;
                font-size: 2.8vw;
            }
            .information__description {
                width: 100%;
                font-size: 1vw;
            }
            .information__contacto {
                display: flex;
                width: 30%;
                margin-top: 5%;
                margin-right: 5%;
                .information__contacto__icon {
                    width: 1.3vw;
                    height: 1vw;
                }
                .information__contacto__text {
                    width: 73%;
                    font-size: 1vw;
                }
            }
        }
        .form {
            width: 50%;
            margin: 0;
            .form__title {
                font-size: 0.64vw;
            }
            .form__inpu {
                width: 100%;
                height: 3vw;
                font-size: 1.5vw;
            }
            .form__personalData {
                flex-wrap: nowrap;
                width: 100%;
                .form__personalData__checkbox {
                    width: 2vw;
                    input {
                        width: 1.5vw;
                        height: 1.5vw;
                    }
                    input::before {
                        width: 0.8vw;
                        height: 0.8vw;
                    }
                }
                .form__personalData__text {
                    width: 89%;
                    font-size: 0.7vw;
                }
            }
        }
    }

}
