.cardOpenShop {
    text-align: center;
    margin: 20% 0;
    .cardOpenShop__titulo {
        margin-bottom: 5%;
        font-family: $fontPrincipal;
        font-size: 8vw;
    }
    .cardOpenShop__descripcion {
        font-family: $fontSecundaria;
        font-size: 4vw;
        margin: 0% 18%;
    }
    .cardOpenShop__imagen {
        width: 100%;
    }
}

.botonDefault {
    width: 75%;
    margin: 10% auto;
    background-color: $colorPrincipal;
    color: white;
    height: 50px;
    border-radius: 100px;
    box-shadow: 10px 10px 10px $colorPrincipalOpacity;
    span {
        font-size: 4vw;
        color: white;
        display: block;
        padding-top: 17px;
        font-family: $fontSecundaria;
    }
}

.cardPlataformData {
    width: 75%;
    text-align: center;
    margin: auto;
    .cardPlataformData__titulo {
        font-family: $fontPrincipal;
        font-weight: 300;
    }
    .cardPlataformData__dato {
        width: 50%;
        margin: 10% auto 25% auto;
        .cardPlataformData__dato__miniLogo {
            width: 45%;
            margin: auto;
            .cardPlataformData__dato__miniLogo__imagen {
                width: 50%;
                position: relative;
                top: 1px;
                left: 6px;
            }
            .cardPlataformData__dato__miniLogo__imagen--eye {
                width: 70%;
                top: 10px;
            }
            .cardPlataformData__dato__miniLogo__imagen--catalog {
                width: 55%;
                left: 10px;
                top: 5px;
            }
        }

        .cardPlataformData__dato__numero {
            font-family: $fontPrincipal;
            position: relative;
            top: 25px;
            letter-spacing: 5px;
        }
        .cardPlataformData__dato__descripcion {
            font-family: $fontPrincipal;
            position: relative;
            top: 40px;
            font-weight: 400;
            color: #A5A5A5;
            font-size: 3vw;
            width: 70%;
            left: 15px;
        }
    }
}

.backgroundCircle {
    background-color: $colorPrincipal;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin: auto;
    position: absolute;
}
.backgroundCircle--pink {
    background-color: #FB3B64;
}
.backgroundCircle--green {
    background-color: #55DFB4;
}
.backgroundCircle--pink--radius {
    border-radius: 41px;
    transform: rotate(45deg);
    position: absolute;
    left: 59%;
    width: 50px;
    height: 45px;
}
.backgroundCircle--big {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 34%;
}

.cardsDescription {
    background-color: #F7F7F7;
    padding: 10% 0;
    .cardsDescription__card {
        width: 80%;
        margin: 5% auto;
        border: 1px solid #E8E9ED;
        background-color: white;
        padding-top: 5%;
        border-radius: 4px;
        .cardsDescription__card__imagen {
            width: 55%;
            margin: 0 5%;
            margin-left: 26%;
            position: relative;
            top: 10px;
        }
        .cardsDescription__card__imagen--mobile {
            left: 10px;
        }
        .cardsDescription__card__divImagenTrompet {
            width: 100%;
            background-color: #55DFB4;
            border-radius: 4px;
        }
        .cardsDescription__card__imagen--trompet {
            width: 80%;
            margin: 0;
            position: relative;
            top: 25px;
            left: 10px;
        }
        .cardsDescription__card__titulo {
            width: 75%;
            font-family: $fontPrincipal;
            font-weight: 400;
            margin: 10% 5%;
            font-size: 6vw;
            line-height: 30px;
        }
        .cardsDescription__card__descripccion {
            font-family: $fontSecundaria;
            font-weight: 400;
            margin: 10% 5%;
            font-size: 3vw;
            line-height: 16px;
        }
    }
}